
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body, html {
     height: 100%; 
     font-family: Arial, Helvetica, sans-serif;
     color: #333;
     backdrop-filter: blur(5px);
     transition: left 0.3s ease;
     line-height: 1.6;
     background-image: url('/img/480px.PNG'); /* Imagem de fundo para a página inteira */
     background-size: cover; /* Faz a imagem cobrir toda a tela */
     background-position: center; /* Centraliza a imagem */
     background-attachment: fixed; /* A imagem fica fixa ao rolar a página */
     color: white; /* Cor do texto para contraste */
 }

 img {
    max-width: 100%;
    height: auto;
}

 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;    
 }

 .image-logo{
    max-width: 650px; /* Defina um tamanho apropriado */
    height: auto; /* Mantém a proporção da imagem */
    margin-left: 55%; /* Move a logo mais para a direita */    
 }

 .menu-container {
     position:fixed;
     left: 0;
     top: 0;
     height: 100%;
     z-index: 1000;
     overflow-y: auto; /* Permite rolar o conteúdo do menu */
     transition: left 0.3s ease; /* Transição suave */
 }


 .menu {
     position: fixed;    
     left: -270px;
     top: 0;
     width: 280px;
     height: 100vh;
     background: rgba(108, 92, 59, 0.8);
     padding: 60px 20px;
     margin-left: 5px;
     backdrop-filter: blur(5px);
     transition: left 0.4s ease-in-out; /* Efeito mais fluído */
     box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
 }

 .menu-container:hover .menu {
     left: 0;
 }

 .menu ul {
     list-style: none;
     padding: 0;
     margin-top: 50px;
 }

 .menu ul li {
     margin: 25px 0;
 }

 .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 12px 20px;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
 }

 .menu ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}


 header {
     text-align: center;
     padding: 10px 0px 0 0;
     color: white;
     margin-bottom: 5%;

 }

 main {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 60px;
    margin-bottom: 20%;
    flex: 1; /* Faz o conteúdo principal expandir e empurrar o footer para baixo */
 }


 .servicos{
    display: flex;
    flex-direction:row;
    align-items:baseline;
    gap: 50px;
    margin-left: 26%;
    font-size: 30px;
    font-weight: 500;
    background-color: rgba(108, 92, 59, 0.8);
    padding: 40px;
    opacity: 0; /* Inicialmente invisível */
    animation: slideIn 1s forwards, blink 2.5s infinite; /* Combina as animações slideIn e blink */
 }
 

 /* Animação de deslizar */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);/* Inicia da direita */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animação de piscar */
@keyframes blink {
    0%, 100% {
        opacity: 1; /* Visível */
    }
    50% {
        opacity: 0; /* Invisível no meio do ciclo */
    }
}

@media (max-width: 768px) {
    .servicos {
        flex-direction: column;
        font-size: 24px;
        padding: 20px;
    }
}


 

 footer {
     text-align: center;
     padding: 20px;
     background-color:rgba(108, 92, 59, 0.8); /* Fundo escuro para o footer */
     margin: auto;
     width: 100%;
 }

 .botao {
/* Container para os botões */
    display: flex;
    gap: 25px; /* Espaçamento entre os botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    
}

 .botao1{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    gap: 10px;
    color: #d7d4ba;
 }

 .botao1:hover{
    background-color: rgba(108, 92, 59, 0.8);
    text-decoration: none;
 }

 .icone{
    width: 20px;
    height: 20px;
    margin: 0;
 }

 .sobremim {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    background-color:  rgba(105, 98, 84, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
 }

 .sobremim-texto {
    text-indent: 15px;
    max-width: 100%;
    width: 500px;
    height: auto;
    padding: 39px 20px;
    font-size: 15px;
    border-radius: 25px 5px 25px 5px;
    margin-left: 10%;
    text-align: justify;
    line-height: 1.8;
    font-family:  'Dm serif text', serif;
    

 }

 .imagem-perfil {
    max-width: 100%;
    width: 550px;
    height: auto;
    border-radius: 5px 25px 5px 25px;
    margin-right: 10%;
    
 }

 .card {
    width: 100%;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-text {
    font-size: 1.3rem; /* Diminui um pouco o tamanho da fonte */
    font-family: 'DM Serif Text', serif;
    color: rgb(46, 34, 28);
    font-weight: 400;
    font-style: italic;
    text-align: center;
    max-width: 100%; /* Faz o texto ocupar mais as laterais */
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


/* Seção Sobre Mim */
.sobremim {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    background-color: rgba(105, 98, 84, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sobremim-texto {
    text-indent: 15px;
    max-width: 100%;
    width: 500px;
    padding: 30px;
    font-size: 15px;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.8;
    font-family: 'Dm serif text', serif;
}

.imagem-perfil {
    max-width: 100%;
    width: 350px;
    height: auto;
    border-radius: 10px;
}

/* Seção Serviços */
.servicos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 50px;
    font-size: 30px;
    font-weight: 500;
    background-color: rgba(108, 92, 59, 0.8);
    padding: 40px;
    opacity: 0;
    animation: slideIn 1s forwards, blink 2.5s infinite;
}

/* Animação de deslizar */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animação de piscar */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Botões */
.botao {
    display: flex;
    gap: 25px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.botao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    gap: 10px;
    color: #d7d4ba;
}

.botao1:hover {
    background-color: rgba(108, 92, 59, 0.8);
    text-decoration: none;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(108, 92, 59, 0.8);
}

.menu-toggle { display: none;} /*sumir o menu hamburguer só no pc*/





/* === MEDIA QUERIES === */
/* Telas menores que 1024px (Tablets e alguns notebooks) */
@media (max-width: 1024px) {
    .menu {
        width: 250px;
    }

    .sobremim {
        padding: 15px;
    }

    .servicos {
        font-size: 24px;
        gap: 30px;
    }

    .botao {
        gap: 15px;
    }
}

.lista-menu {
    display: none;
}
/* Telas menores que 768px (Celulares grandes) */
@media (max-width: 768px) {

      .menu {
        display: none;
    }
    
    .cabeçalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
        background-color: rgba(108, 92, 59, 0.65);
        padding: 10px 20px;
        position: sticky;
        top: 0;
        z-index: 100;
        margin: auto;
      
    }

    .lista-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #d7d4ba;
        font-size: 18px;
        padding: 0 50px;
        font-family: 'DM Serif Text', serif;
        user-select: none;
        cursor: pointer;
        list-style: none; /* Remove as bolinhas */
        gap: 50px;
        
       
    }
    .lista-menu li a {
        text-decoration: none; /* Remove o sublinhado */
        color: #d7d4ba; /* Define a cor do texto */
        font-weight: 400; /* Deixa o texto mais destacado */
        text-transform: uppercase;
    }  
    
    .lista-menu li a:hover {
        text-decoration: underline;
        background-color: rgba(108, 92, 59, 0.8);
        font-weight: bold;
        transition: 0.5s;
       

    }
    
 

    .sobremim {
        flex-direction: column;
        text-align: center;
    }

    .sobremim-texto {
        margin:auto;
        width: 100%;
        padding: 20px;
    }

    .imagem-perfil {
        width: 80%;
        margin: 0 auto;
    }

    .servicos {
        flex-direction: column;
        font-size: 22px;
        padding: 15px;
    }

    .botao {
        flex-direction: column;
        gap: 10px;
    }
}

/* Telas menores que 480px (Celulares pequenos) */
@media (max-width: 480px) {
   
    .body {
    height: 100%; 
    display: grid;
     background-image: url('/img/480px.PNG');
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     max-width: 1020px;
     
    }
    main {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 150px 150px 250px 150px;
     margin-bottom: 20%;
     flex: 1; /* Faz o conteúdo principal expandir e empurrar o footer para baixo */
    }
    .header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .image-logo {
        max-width: 250px;
        margin: auto;
    }

    .sobremim-texto {
        margin:auto;
        text-align: center;
        font-size: 10px;
    }

    .botao {
        gap: 8px;
    }
  
   .menu-container{
    gap: 20px;
   }

    .menu {
        position: relative;
        left: -170px;
        top: 0;
        width: 180px;
        height: 100%;
        margin-bottom: auto;
        background: rgba(108, 92, 59, 0.8);
        padding: 10px;
        margin-left: 5px;
        backdrop-filter: blur(5px);
        transition: left 0.4s ease-in-out; /* Efeito mais fluído */
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
       
    }
   
    .menu-container:hover .menu {
        left: 0;
    }
   
    .menu ul {
        list-style: none;
        padding: 0;
        margin-top: 10px;
       
    }
   
    .menu ul li {
        margin: 0 0;
       
    }
   
    .menu ul li a {
       color: white;
       text-decoration: none;
       font-size: 10px;
       display: block;
       padding: 10px 5px;
             
    }

    .botao {
        flex-direction: row; /* Altera para coluna em telas pequenas */
        gap: 5px; /* Reduz o espaçamento para melhor organização */
   } 
   
   .footer {
    margin-top: auto;
    text-align: center;
   } 
}
